/*
WordPress Gutenberg-specific styling
https://wordpress.org/gutenberg/
*/

/* --- colors --- */
.has-white-color, .wp-block-button__link.has-text-color.has-white-color { color: #ffffff; }
.has-light-gray-color, .wp-block-button__link.has-text-color.has-light-gray-color { color: #E3E6EB; }
.has-black-color, .wp-block-button__link.has-text-color.has-black-color { color: #000000; }
.has-white-background-color { background-color: #ffffff; }
.has-light-gray-background-color { background-color: #E3E6EB; }
.has-black-background-color { background-color: #000000; }

/* --- gutenberg columns --- */
@media (max-width: 767.999px) {
    .wp-block-columns {
        display: block;
    }
}
@media (min-width: 768px) {
    .wp-block-columns {
        margin-left: -15px;
        margin-right: -15px;
    }
    .wp-block-column {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* --- gutenberg file download --- */
.gpc .wp-block-file .wp-block-file__button,
.gpc .wp-block-file a.wp-block-file__button:visited {
    border-style: unset;
    border-width: 0;
}
.gpc .wp-block-file a.wp-block-file__button:active,
.gpc .wp-block-file a.wp-block-file__button:focus,
.gpc .wp-block-file a.wp-block-file__button:hover {
    box-shadow: none;
    text-decoration: none;
}